body{
    background-image: url(./img,10.11/boxed-water-is-better-FxbImDRNZy4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.menusuperior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: antiquewhite;
    border-radius: 10px;
    height: 55px;
}
.clog{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logoimagen{
    height: 42px;
    width: 42px;
    margin-left: 10px;
}

.textologo{
    font-family: Verdana;
    font-size: 35px;

}

.redes{
    gap: 7px;
    display: flex;
    align-items: center;
    margin-right: 10px;

}

.fba{
    text-decoration: none;
}

.fb{
    height: 30px;
    width: 30px;
}

.twa{
    text-decoration: none;
}

.tw{
    height: 40px;
    width: 40px;
}

.yta{
    text-decoration: none;
    height: 35px;
    widows: 30px;
}

.yt{
    height: 32px;
    widows: 30px;
}

.tua{
    text-decoration: none;
}


.tu{
    height: 30px;
    widows: 30px;
}

.preguntas{
    font-family: verdana;
    font-size: 20px;
    display: flex;
    margin-left: 5px;
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 20px;
    border-style: solid;
    border-radius: 10px;
    height: 1350px;

}
.caspre{
    background-color: aliceblue;
    display: flex;
    border-radius: 10px;
    height: 50px;
    width: 700px;
    padding-left: 15px;
    align-items: center;
}

.inputp{
    margin-left: 20px;
    position: relative;
    margin-top: 0px;
    border-radius: 5px;
    height: 32px;
    width: 200px;
    font-size: 16px;
}
.inputp option{
    font-family: Verdana;
}

.calculo{
    height: 50px;
    width: 300px;
    border-radius: 20px;
    font-size: 20px;
    margin-left: 30px;
    background-color: rgb(25, 150, 25);
    color: rgb(255, 255, 255);
    border-style: solid;
    border-color: rgb(255, 255, 255);
}


.cresultados{
    height: 320px;
    width: 320px;
    position: relative;
    margin-left: 210px;
    margin-top: 400px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    background-color: rgb(230, 186, 120); 
    display: flex;
    flex-direction: column;
}

.rt{
   font-size: 20px;
   position: relative; 
   color: rgb(0, 0, 0);
   border-radius: 3px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50px;
   text-align: center;
}

.total{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 280px;
}

#texto{
    width: 300px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 15px;
    text-align: center;

}

.imagen{
background-color: black;
height: 100px;
width: 100px;
margin-top: 15px;

}

#footer{
    height: 25px;
    display: flex;
    padding-top: 7px;
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}